.movie-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
  }
  
  .movie-card {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 0px 1px 0px #aaa;
    margin:5px;
    width: 150px; 
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 0px 0 0 0px;
  }
  
  .movie-details {
    padding: 10px;
  }
  
  .movie-title {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  .movie-overview {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .movie-release {
    font-size: 14px;
    margin: 0;
  }
  
  .movie-rating {
    font-size: 14px;
    margin: 0;
  }