.movie-details-container {
    background-color: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
  }

   .movie-card {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 0px 1px 0px #aaa;
    margin:5px;
    width: 200px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }


  .modal-title {
    font-size: 18px;
    color: #fff; 
    margin: 30px; 
  }
  .modal-release{
    font-size: 18px;
    color: #fff; 
  }
  
  .modal-tagline {
    font-size: 18px; 
    color: white; 
    margin: 30px;
  }

  .modal-poster {
    max-width: 100%; 
    border-radius: 10px; 
  }
  .movie-details {
    line-height: 1.4; 
    text-shadow: 1px 1px 2px #000; 
  }
  .movie-details-container {
    padding: 20px;
  }
  
  .movie-title {
    padding: 20px;

  }
  .movie-rating {
    font-size: 18px; 
    color: #ffcc33;
  }
.modal-runtime,
.movie-genres {
  font-size: 16px; 
  color: #ccc; 
  margin: 5px 0; 
}
.movie-details-container {
    width: 100%;
 /* Center the container horizontally */
  }
 
  .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px; /* Adjust the maximum width */
    max-height: 80vh; /* Adjust the maximum height */
    background-color: #fff; /* Background color for the modal */
    border: 2px solid #f6f6f6; /* Add a border */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2); /* Add a shadow */
    padding: 20px; /* Adjust padding as needed */
    z-index: 9999;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    z-index: 9998;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .modal-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .modal-image {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
  }
  .divModalDetails{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .close-button {
    background-color:black; /* Close button background color */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 5px;
  }

  
  .close-button:hover {
    background-color:white; /* Hover state background color */
  }